@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -webkit-app-region: none;
}

body {
    background-color: burlywood;
    display: grid;
    place-content: center;
    font-family: "Roboto, sans-serif";
    height: 100vh;
    font-size: 2rem;
}

.container {
    height: 80vh;
    width: 50vh;

    border-radius: 1rem;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.35);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(7.5px);
    -webkit-backdrop-filter: blur(7.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);

}

.wrapper {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 10px;
}

.screen {
    grid-column: 1 / -1;
    color: white;
    text-align: right;
    padding: 0.5rem;
    font-size: 4rem;
    overflow: hidden;

}

.btn {
    display: grid;
    place-content: center;
    background: rgba(116, 84, 255, 0.75);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.2px);
    -webkit-backdrop-filter: blur(6.2px);
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 50%;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-weight: bold;
}

.btn:hover {
    background: rgba(116, 84, 255, 0.75);
}

.light {
    background: rgba(97, 239, 130, 0.479);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(7.5px);
    -webkit-backdrop-filter: blur(7.5px);
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.18);
    color: black;
}

.light:hover {
    background: rgba(117, 240, 150, 0.425);

}

.dark {
    background: rgba(116, 84, 255, 0.75);

    border-radius: 50%px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.2px);
    -webkit-backdrop-filter: blur(6.2px);
    border: 1px solid rgba(255, 255, 255, 1);
}

.dark:hover {
    background: rgba(115, 84, 255, 0.918);
    color: rgb(255, 255, 255);
}

.zero {
    grid-column: 1 /span 2;
    border-radius: 25px;
    place-content: unset;
    align-items: center;
    padding-left: 2rem;
}